.jumbotron {
  background-color: #FFFA19;
  color: black;
  margin-top: 50px;
  margin-bottom: 15px; }

section#list {
  display: flex; }

section#list .card {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0; }

section#list .card a {
  width: 100%;
  border-radius: 0; }

footer {
  background-color: #FFFA19;
  padding: 1em;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 0; }

footer > div:last-child > a {
  text-align: right; }

footer > address > .oi,
section#list > div .oi {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
