$yellow: #FFFA19;
$red: #FF0000;
$green: #00FF00;

@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
    color: black;
    @include margenes(50px, 15px);
}

section#list {
	display: flex;
}

section#list .card {
	flex: 1 200px;
	@include margenes(10px, 0);
}

section#list .card a {
    width: 100%;
    border-radius: 0;
}

footer {
	background-color: $yellow;
	padding: 1em;
	padding-bottom: 0;
	@include margenes(1em, 0);
}

footer>div:last-child>a {
	text-align: right;
}

footer>address>.oi,
section#list>div .oi {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}