@yellow: #FFFA19;
@red: #FF0000;
@green: #00FF00;

.margenes(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
	background-color: @yellow;
    color: black;
    .margenes(50px, 15px);
}

section#list {
	display: flex;
}

section#list .card {
	flex: 1 200px;
	.margenes(10px);
}

section#list .card a {
    width: 100%;
    border-radius: 0;
}

footer {
	background-color: @yellow;
	padding: 1em;
	padding-bottom: 0;
	.margenes(1em);
}

footer>div:last-child>a {
	text-align: right;
}

footer>address>.oi,
section#list>div .oi {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}